.link-item {
  position: absolute;
  top: 20px;
  right: 70px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #707070;
  font-size: .875rem;
}